<article class="container pb-4 pt-4" *ngIf="loading === false">
  <h2 class="text-center">Prizing</h2>
  <br>
  <div class="row pcPrizeRow">
    <div class="col-12 col-md-7">
      <div [innerHTML]="tournament.prizingText"></div>
    </div>
    <div class="col-12 col-md-5">
      <img [src]="tournament.trophyPic" style="width: 90%" class="mx-auto d-block" alt="ClubEG tournament winner trophy">
    </div>
  </div>
  <div class="row phonePrizeRow">
    <div class="col-12 col-md-5">
      <img [src]="tournament.trophyPic" style="width: 90%" class="mx-auto d-block" alt="ClubEG tournament winner trophy">
    </div>
    <div class="col-12 col-md-7">
      <div [innerHTML]="tournament.prizingText"></div>
    </div>
  </div>
</article>
