.flex-center{
    display:flex; 
    width:100%; 
    justify-content: center;
}
.match-logos{
    width:80px;
}
.match-containers{
    width:100%;
    text-align: center;
    padding:5px;
}

.grey-text{
    color:rgb(113, 107, 107);
}
.small-text{
    font-size:16px;
}
.player-names{
    color:navy;
}
.round-heading{
    background-image: linear-gradient(to right, #000080, #174a96); color:white; padding:10px; font-size:22px; font-weight: 600; border-radius: 4px;
}
.blue-headers{
    background-color:#0472d9; 
    color:white;
}
.player-names{
    color:navy;
}
.headings{
    font-size:16px;
    font-weight:bold;
    border-bottom:1px solid;
    padding-bottom: 5px;
    color:#107896;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cut-line{
    position: relative;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    background-color:#70cf71;
    color:white;
    border-radius:4px;
}
.cut-line:before, .cut-line:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 2px;
    content: '\a0';
    background-color: white;
}

.cut-line:before {
    margin-left: -55%;
    text-align: center;
}
.cut-line:after{
    margin-left: 5%;
}
.clickable-rows:hover{
    cursor: pointer;
    border:2px solid #70cf71;
    border-radius:4px;
}
.clickable-rows:hover > div > div{
    font-weight:600!important;
}

@media only screen and (max-width:800px) {
    .headings{
        font-size:12px!important;
    }
}