.headings{
    color:#107896;
    background-color: #f2f4f7;
    padding:5px;
}
.headings div {
  font-weight: 600!important;
}
.data-rows {
  border-bottom:1px solid #e0e0e0;
  display: flex;
  align-items: center;
}
.data-rows:hover {
  color:white;
  background-color:#107896;
  border: 2px solid rgb(131, 131, 131);
  cursor:pointer;
}
.cut-line{
    position: relative;
    font-size: 20px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    background-color:#70cf71;
    color:white;
    border-radius:4px;
    width:96%;
}
.cut-line:before, .cut-line:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 2px;
    content: '\a0';
    background-color: white;
}
.cut-line:before {
    margin-left: -55%;
    text-align: center;
}
.cut-line:after{
    margin-left: 5%;
}
.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
  max-width: 120px!important;
  padding-left: 7px;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}
.clickable-rows:hover{
    cursor: pointer;
    border:3px solid #107896;
}
.clickable-rows:hover > td{
    color: #107896;
}
.table-container {
  width:100%;
  overflow: auto;
}

td.mat-column-star {
  width: 25px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}



@media only screen and (max-width:1000px) {
  .search-table {
    width:800px;
  }
  .results-table{ 
    width:100vw;
  }
}