<div style="height:100vh; overflow-y: scroll; padding-bottom: 50px;">
    <div *ngFor="let event of events" class="mb-4">
        <h3>{{ event.qualifyingRound + ': ' + event.courseName }}</h3>
        <div class="table-container" *ngIf="loading === false">
            <app-hole-results-table [scoringType]="scoringType" [teams]="teams" [individuals]="individuals" [event]="event"></app-hole-results-table>
        </div>
    </div>
    <button (click)="close()" mat-raised-button>Close</button>
</div>
