<div class="container pb-4 pt-4">

    <div class="inner-container" *ngIf="loadingPercent === 100">
        <h1>{{ event.courseName }} Match Ups</h1>
        <br>
        <p *ngIf="!groups || groups.length < 1">Sorry, no match ups set for this event. Try back soon.</p>
        <table *ngIf="groups && groups.length > 0" class="table table-sm">
            <thead>
                <tr>
                    <th class="headings">Group</th>
                    <th class="headings">Hole/Time</th>
                    <th class="headings">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let group of groups; let i = index">
                    <td>{{ (i+1) }}</td>
                    <td>{{ group.startHole + ' - ' + group.teeTime }}</td>
                    <td>
                        <div *ngFor="let match of group.matches">
                            <div *ngIf="match.player1id">{{ match.player1name }}</div>
                            <div *ngIf="match.player2id">{{ match.player2name }}</div>
                            <div *ngIf="match.player3id">{{ match.player3name }}</div>
                            <div *ngIf="match.player4id">{{ match.player4name }}</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>