<div class="container pb-4 pt-4">

    <div class="inner-container" *ngIf="loadingPercent === 100">
        <mat-form-field appearance="outline" style="min-width:400px;">
            <mat-label>{{ eventSelected.qualifyingRound ? eventSelected.qualifyingRound : 'Event' }}</mat-label>
            <mat-select (selectionChange)="onEventChange($event.value)" [(ngModel)]="eventSelectedId">
                <mat-option [value]="+e.id" *ngFor="let e of events">{{ e.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <h1>{{ eventSelected.courseName }}</h1>
        <br>
        <p *ngIf="!groups || groups.length < 1">Sorry, no match ups set for this event. Try back soon.</p>
        <table *ngIf="groups && groups.length > 0" class="table table-sm">
            <thead>
                <tr>
                    <th class="headings">Group</th>
                    <th class="headings">Hole</th>
                    <th class="headings">Time</th>
                    <th class="headings">Name</th>
                    <th class="headings">Division</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let group of groups; let i = index">
                    <td>{{ (i+1) }}</td>
                    <td>{{ group.startHole }}</td>
                    <td>{{ group.teeTime }}</td>
                    <td>
                        <div *ngFor="let participant of group.groupParticipants">
                            <div *ngIf="scoringType === 'individual'">{{ getParticipantProperty(participant, 1, 'fullName') }}</div>
                            <div *ngIf="scoringType === 'team'">{{ getParticipantProperty(participant, 0, 'fullName') }}</div>
                            <div *ngIf="scoringType === 'team'">{{ getParticipantProperty(participant, 1, 'fullName') }}</div>
                        </div>
                    </td>
                    <td>
                        <div *ngFor="let participant of group.groupParticipants">
                            <div *ngIf="scoringType === 'individual'">{{ getParticipantProperty(participant, null, 'division') }}</div>
                            <div *ngIf="scoringType === 'team'">{{ getParticipantProperty(participant, 0, 'division') }}</div>
                            <div *ngIf="scoringType === 'team'">{{ getParticipantProperty(participant, 1, 'division') }}</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>