<div *ngIf="loadingPercent < 100">
    <mat-progress-bar [value]="loadingPercent" color="primary" mode="determinate"></mat-progress-bar>
    <div class="full-width text-center mt-2">Loading</div>
</div>

<div *ngIf="loadingPercent === 100">

    <div class="year-box">
        <mat-form-field appearance="outline">
            <mat-label>Year</mat-label>
            <mat-select (selectionChange)="onYearChange()" [(ngModel)]="yearSelected">
                <mat-option [value]="year" *ngFor="let year of years">{{ year }}</mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <mat-button-toggle-group [(ngModel)]="teamShown" #group="matButtonToggleGroup">
            <mat-button-toggle [value]="1">ST Teams</mat-button-toggle>
            <mat-button-toggle [value]="2">Guest Teams</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <br>
    <!--ST TEAMS-->
    <div *ngIf="teamShown === 1">
        <div *ngFor="let team of STteams">
            <br>
            <div class="centered-box">
                <h2 class="fun-text">{{ 'Slammer Team ' + team.name }}</h2>
                <img *ngIf="team.captainPic" class="captain-avatars" [src]="team.captainPic">
                <mat-icon *ngIf="!team.captainPic" class="captain-avatars">account_box</mat-icon>
                <h3 class="navy">Captain {{ team.captain ? team.captain : 'TBD' }}</h3>
            </div>
            <table class="table table-sm table-responsive-md full-width mt-2 bordered-table">
                <thead>
                    <tr class="slammer-gradient">
                        <th>Name</th>
                        <th class="text-center">Driving</th>
                        <th class="text-center">Tees</th>
                        <th class="text-center">ST Median</th>
                        <th class="text-center">Personal<br>Avg</th>
                        <th class="text-center">ClubEG<br>Avg</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let member of team.members">
                        <td>{{ member.nickname ? member.fullName + ' (' + member.nickname + ')' : member.fullName }}</td>
                        <td class="text-center">{{ member.driving }}</td>
                        <td class="text-center">{{ member.teeBlock }}</td>
                        <td class="text-center">{{ member.stMedian }}</td>
                        <td class="text-center">{{ member.averageScore }}</td>
                        <td class="text-center">{{ member.clubegScoringAvg }}</td>
                    </tr>
                    <tr class="slammer-gradient">
                        <td colspan="5"><b>Team Scoring Avg</b></td>
                        <td class="text-center"><b>{{ getTeamAvg(team) }}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--GUEST TEAMS-->
    <div *ngIf="teamShown === 2">
        <div *ngFor="let team of guestTeams">
            <br>
            <div class="centered-box">
                <h2 class="fun-text">{{ team.name }}</h2>
                <img *ngIf="team.captainPic" class="captain-avatars" [src]="team.captainPic">
                <mat-icon *ngIf="!team.captainPic" class="captain-avatars">account_box</mat-icon>
                <h3 class="navy">Captain {{ team.captain ? team.captain : 'TBD' }}</h3>
            </div>

            <table class="table table-sm table-responsive-md full-width mt-2 bordered-table">
                <thead>
                    <tr class="slammer-gradient">
                        <th>Name</th>
                        <th class="text-center">Driving</th>
                        <th class="text-center">Tees</th>
                        <th class="text-center">ST Median</th>
                        <th class="text-center">Personal<br>Avg</th>
                        <th class="text-center">ClubEG<br>Avg</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let member of team.members">
                        <td>{{ member.nickname ? member.fullName + ' (' + member.nickname + ')' : member.fullName }}</td>
                        <td class="text-center">{{ member.driving }}</td>
                        <td class="text-center">{{ member.teeBlock }}</td>
                        <td class="text-center">{{ member.stMedian }}</td>
                        <td class="text-center">{{ member.averageScore }}</td>
                        <td class="text-center">{{ member.clubegScoringAvg }}</td>
                    </tr>
                    <tr class="slammer-gradient">
                        <td colspan="5"><b>Team Scoring Avg</b></td>
                        <td class="text-center"><b>{{ getTeamAvg(team) }}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    
     


</div>
