.year-box{
    width:100%;
    text-align: center;
}
.captain-avatars{
    width:140px;
    font-size:50px;
}
.slammer-gradient{
    background-image:linear-gradient(to right, #ff8c00, #ffd351);
}
.grey-text{
    color:rgb(113, 107, 107);
}
.centered-box{
    width:400px;
    margin: auto;
    text-align: center;
}
.navy{
    color:navy;
}