<div class="container pt-4 pb-4">

    <div *ngIf="loadingPercent < 100">
        <mat-progress-bar [value]="loadingPercent" color="primary" mode="determinate"></mat-progress-bar>
        <div class="full-width text-center mt-2">Loading</div>
    </div>
    
    <div *ngIf="loadingPercent === 100">

        <div class="text-center">
            <h1>{{ event.name + ' Competitors' }}</h1>
            <h3>{{ event.courseName }}</h3>
            <img class="course-logos" [src]="event.courseLogo">
            <h6>{{ event.eventDate | date }}</h6>
        </div>
        <br>

        <div *ngFor="let div of event.divisionList">
            <h2 class="div-titles">{{ div.name }}</h2>
            <br>
            <div class="row">
                <div *ngFor="let team of getDivParticipants(div.competitionId)" class="col-12 col-md-4">
                    {{ team.eventParticipants[0].fullName + ' & ' + team.eventParticipants[1].fullName }}
                </div>
            </div>
            <hr>
        </div>

    </div>

</div>
