<div class="container pt-4 pb-4">

    <div *ngIf="loadingPercent === 100" class="inner-container">
        <h1>Tournament Events</h1>
        <br>
        <div class="row mb-2" *ngFor="let event of events">
            <div class="col-6">
                <button (click)="goToDraw(event)" class="btn btn-outline-primary full-width">
                    {{ event.courseName }}
                </button>
            </div>
            <div class="col-6" style="display:flex; align-items: center;">
                <span>{{ event.eventDate | date }}</span>
            </div>
        </div>

    </div>
</div>
