/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$SlammerApp-primary: mat-palette($mat-blue, 800, 50, 900);
$SlammerApp-accent: mat-palette($mat-orange, 700, 200, 800);

// The warn palette is optional (defaults to red).
$SlammerApp-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$SlammerApp-theme: mat-light-theme($SlammerApp-primary, $SlammerApp-accent, $SlammerApp-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($SlammerApp-theme);

html, body { 
    min-height: 100%; 
    overflow-x: hidden;
}
body { 
    margin: 0; 
    position: relative;
    font-family: Roboto, "Helvetica Neue", sans-serif; }

#topArea{
    background-position: center;
    background-size: cover;
    height: 100px;
}
h1, h2, h3, h4, h5, h6, p, span, div{
    font-weight:400!important;
}
.fun-text{
    font-family: 'Sriracha', cursive;
}
html {
  scroll-behavior: smooth;
    overflow-x: hidden;
}
.selectors{
    width:200px; padding:4px; padding-left:6px; margin: auto; display:block; 
    border:1px solid lightgray; border-radius:6px; background-color: white;
}
.full-width{
    width:100%;
}
.container{
    min-height: calc(100vh + 170px);
}