<div class="container pt-4 pb-4">

    <h1 class="text-center">ST Qualifying</h1>
    <div *ngIf="loadingPercent < 100">
        <mat-progress-bar value="{{ loadingPercent }}" color="primary" mode="determinate"></mat-progress-bar>
        <div class="full-width text-center mt-2">Loading</div>
    </div>

    <div *ngIf="loadingPercent === 100">
        <h5 class="text-center"><i>{{ tournamentYearlyData.qualifying }}</i></h5>
        <h4 class="text-center" *ngIf="tournamentYearlyData.qualifying === 'closed'">Final Results</h4>
        <div class="row">
            <div class="col-12 col-md-4 offset-md-4">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Team</mat-label>
                    <mat-select (selectionChange)="onTeamChanged()" [(ngModel)]="teamSelected">
                        <mat-option [value]="team" *ngFor="let team of teams">{{ 'Slammer Team ' + team.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row" *ngIf="teamSelected">
            <div *ngFor="let div of divisions" class="col-12 col-md-4">
                <h2 class="mt-3 text-center blue-gradient">{{ div + ' Division' }}</h2>
                <div *ngFor="let reg of getTeamDivRegistrations(teamSelected, div); let i = index">
                    <div [class.spot-reg]="i > 1" [class.spot-top]="i <= 1">
                        <span *ngIf="reg.rank"><b>{{ div + ( tournamentYearlyData.qualifying === 'open' ? reg.rank : reg.finalRank ) + ' ' }}</b></span>
                        {{ reg.id ? reg.fullName : null  }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>