<div class="container pt-0 pb-4">

  <div *ngIf="loading === false">

    <div class="row">
      <div class="col-12 lightGrayBoxes pb-3">

        <section class="section" id="regSection" style="padding-right:0!important; padding-top:0px!important;">

          <div class="innerContainer" style="margin-top:72px;">
            <div *ngIf="userLoggedIn === false">
              <button mat-raised-button class="mx-auto d-block" (click)="showLogin()" color="primary">Login</button>
              <h4 class="text-center mt-3">To Register For {{ tournament.name }}</h4>
            </div>

            <div *ngIf="userLoggedIn === true">
              <h1 class="text-center text-md-left mt-3">Registration for {{ userName }}</h1>
              <div *ngIf="userRegistered === false">
                <!--Not Registered-->
                <br>
                <h3>Choose your division(s):</h3>
                <br>
                <div class="row">
                  <div class="col-12 col-md-4">
                    <div  *ngFor="let option of leftList; let i = index">
                      <mat-checkbox  [checked]="isDivisionChosen(option.id)" (change)="adjustDivisions($event, option)">{{ option.name }}</mat-checkbox>
                      <br>
                      <div class="ml-4" *ngIf="option.type === 'doubles' && isDivisionChosen(option.id)">
                        <b>Partner:</b> {{ getSelectedPartner(option) }}
                        <button mat-button (click)="openMemberSearch(memberSearch, option, null)">
                          {{ getSelectedPartner(option) ? 'Change' : 'Choose' }}
                        </button>
                      </div>
                      <br>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div  *ngFor="let option of centerList; let i = index">
                      <mat-checkbox  [checked]="isDivisionChosen(option.id)" (change)="adjustDivisions($event, option)">{{ option.name }}</mat-checkbox>
                      <br>
                      <div class="ml-4" *ngIf="option.type === 'doubles' && isDivisionChosen(option.id)">
                        <b>Partner:</b> {{ getSelectedPartner(option) }}
                        <button mat-button (click)="openMemberSearch(memberSearch, option, null)">
                          {{ getSelectedPartner(option) ? 'Change' : 'Choose' }}
                        </button>
                      </div>
                      <br>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div  *ngFor="let option of rightList; let i = index">
                      <mat-checkbox  [checked]="isDivisionChosen(option.id)" (change)="adjustDivisions($event, option)">{{ option.name }}</mat-checkbox>
                      <br>
                      <div class="ml-4" *ngIf="option.type === 'doubles' && isDivisionChosen(option.id)">
                        <b>Partner:</b> {{ getSelectedPartner(option) }}
                        <button mat-button (click)="openMemberSearch(memberSearch, option, null)">
                          {{ getSelectedPartner(option) ? 'Change' : 'Choose' }}
                        </button>
                      </div>
                      <br>
                    </div>
                  </div>
                </div>
                <button [style.backgroundColor]="tournament.buttonColor" mat-raised-button class="mt-3 mb-4" color="primary" (click)="saveMemberReg()">Submit Registration</button>
              </div>

              <!--Message for when user first registers. Remove all else-->
              <div *ngIf="justRegistered === true">
                <p>Thank you for registering!</p>
                <p>A member of our team will be in touch shortly to confirm your registration.</p>
              </div>

              <div *ngIf="userRegistered === true && justRegistered === false" >
                <!--Registered-->
                <hr>
                <h4>You are registered for the following {{ userRegistrations.length }} division(s):</h4>
                <br>
                <div class="row">
                  <div class="col-12 col-md-4">
                    <div  *ngFor="let option of leftList; let i = index">
                      <mat-checkbox  [checked]="isDivisionChosen(option.id)" (change)="adjustDivisions($event, option)">{{ option.name }}</mat-checkbox>
                      <br>
                      <div class="ml-4 mb-3" *ngIf="option.type === 'doubles' && isDivisionChosen(option.id)">
                        <b>Partner:</b> {{ getSelectedPartner(option) }}
                        <button (click)="openMemberSearch(memberSearch, option, getPartner(option))" mat-button color="primary">
                          {{ getSelectedPartner(option) ? 'Change' : 'Choose' }}
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div  *ngFor="let option of centerList; let i = index">
                      <mat-checkbox  [checked]="isDivisionChosen(option.id)" (change)="adjustDivisions($event, option)">{{ option.name }}</mat-checkbox>
                      <br>
                      <div class="ml-4 mb-3" *ngIf="option.type === 'doubles' && isDivisionChosen(option.id)">
                        <b>Partner:</b> {{ getSelectedPartner(option) }}
                        <button (click)="openMemberSearch(memberSearch, option, getPartner(option))" mat-button color="primary">
                          {{ getSelectedPartner(option) ? 'Change' : 'Choose' }}
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div  *ngFor="let option of rightList; let i = index">
                      <mat-checkbox  [checked]="isDivisionChosen(option.id)" (change)="adjustDivisions($event, option)">{{ option.name }}</mat-checkbox>
                      <br>
                      <div class="ml-4 mb-3" *ngIf="option.type === 'doubles' && isDivisionChosen(option.id)">
                        <b>Partner:</b> {{ getSelectedPartner(option) }}
                        <button (click)="openMemberSearch(memberSearch, option, getPartner(option))" mat-button color="primary">
                          {{ getSelectedPartner(option) ? 'Change' : 'Choose' }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <p *ngIf="unsavedChanges === true" [style.color]="'orange'">! You have unsaved changes, don't forget to save</p>
                <button [style.backgroundColor]="tournament.buttonColor" mat-raised-button (click)="saveMemberReg()" color="primary">Save changes</button>

              </div>
            </div>
          </div>

        </section>
      </div>
    </div>

    <!--Memember Search Dialog, for user when selcting a partner-->
    <ng-template #memberSearch let-data>
      <h1 class="text-center" mat-dialog-title>Search Members</h1>
      <mat-dialog-content style="height:400px; overflow-y: scroll;">
        <div *ngIf="loadingMembers === true" style="width: 300px;">
          <mat-spinner class="mx-auto"></mat-spinner>
          <h6 class="mt-2 text-center">Loading Members...</h6>
        </div>
        <div *ngIf="loadingMembers === false">
          <mat-label><b>Step 1</b></mat-label>
          <p>Please provide at least 3 letters to search by first or last name</p>

          <mat-form-field class="full-width">
            <mat-label>Member</mat-label>
            <input matInput #memberSinput (input)="addBtn(mSearchBtn)">
            <button mat-raised-button matSuffix class="sm-button" (click)="filterMembers(memberSinput.value, data.div.id)"
              [style.backgroundColor]="tournament.buttonColor" #mSearchBtn color="primary">Search</button>
          </mat-form-field>
          <mat-label><b>Step 2</b></mat-label>
          <p>Choose partner from list below:</p>
          <mat-list *ngIf="matchingMembers">
            <mat-list-item class="selectableMembers" (click)="memberSelected(member)" *ngFor="let member of matchingMembers">
              <div class="memberBox" style="display:flex; align-items: center; width:100%;">
                <mat-icon style="width:40px; height:40px; font-size:40px;" *ngIf="!member.pic">account_box</mat-icon>
                <img [src]="member.pic" *ngIf="member.pic" style="height:40px;" [alt]="member.fullName">
                <span class="ml-2">{{ member.fullName }}</span>
              </div>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-dialog-content>

      <mat-dialog-actions>
        <button class="mx-auto" [style.backgroundColor]="tournament.buttonColor" mat-raised-button (click)="close()" color="primary">Cancel</button>
      </mat-dialog-actions>
    </ng-template>

  </div>

</div>
